<html>
  <head>
    <title>David Emmerthal</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

	<!-- Site Styles -->
	<link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
  	<div class="masthead">
	  	<div class="container">
	    	<h1>David Emmerthal</h1>
	    	<p>Web and Mobile Developer</p>
		</div>
	</div>
	<div class="content">
			<h1>Check out some of my projects</h1>
			<div class="row-fluid">
				<div class="span6">
					<h2>Swagger Detector</h2>
					<p>Fun android app to test out your swagger</p>
					<p><a href="https://github.com/DEmmerthal/Swagger-Detector">Check out the github</a></p>
				</div>
				<div class="span6">
					<h2>This Website</h2>
					<p>Written in node, using express and twitter bootstrap</p>
					<p><a href="https://github.com/DEmmerthal/My-Website">Check out the github</a></p>
				</div>
			</div>
	</div>
	<script src="javascripts/jquery-1.8.0.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>